---
import { localizePath } from "astro-i18next";
const pathname = new URL(Astro.request.url).pathname;

const links = [
    {
        href: "/",
        name: "Home",
    },
    {
        href: "/ueber-mich",
        name: "About",
    },
    {
        href: "/kontakt",
        name: "Contact",
    },
].map(({ href, name }) => ({
    name: name,
    href: localizePath(href)
}))
---

<ul tabindex="0">
    {
        links.map(({ href, name }) => (
            <li>
                <a
                    class={pathname === href ? "link--active" : ""}
                    href={href}
                >
                    {name}
                </a>
            </li>
        ))
    }
</ul>

<style lang="scss">
    .link {
        &--active {
            font-weight: bold;
        }
    }
</style>
